.App{
	min-height: 250vh;
	min-width: 100%;
	 background: #FDC830;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F37335, #FDC830,#a83d08);  
	background: linear-gradient(to right, #F37335, #FDC830,#ff6214); 
	animation: gradient 10s ease infinite;
	background-size: 400% 400%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Body {
  margin: 2rem;
	border: 10px solid black;
	border-radius: 20px;
}

.Box {
  border: 20px solid black;
	border-radius: 20px;
}
.AudioPlayer {
  width: 100%;
  height: 102%;
  border-radius: 10px;
  margin-bottom: -4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
