.walletCard {
	text-align: center;
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 20px;
	background-color: #A1C6EA;
	box-shadow: 0.2em 0.2em 0 0.2em rgba(0,0,0,0.17);
}

.walletCard h3 {
	margin: auto;
	justify-content: center;
	align-items: baseline;
	text-align: center;
}

.interactionsCard {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
	padding-bottom: 1em;
	border-radius: 20px;
	background-color: #507DBC;
	box-shadow: 0.2em 0.2em 0 0.2em rgba(0,0,0,0.17);
}

.tipCard {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	padding-bottom: 1em;
	border: 10px solid black;
	border-radius: 20px;
	background-color: #d3a510;
	box-shadow: 0.2em 0.2em 0 0.2em rgba(0,0,0,0.17);
}
.addressInput{
	width: 75%;
}

.button6 {
	max-width: 50%;
	justify-content: center;
	border: none;
	padding: 0.7em 1.4em;
	margin: auto;
	margin-bottom: 30px;
	border-radius:0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Papyrus', 'Copperplate' sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color:#FFFFFF;
	background-color: #04080F;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
}

.vsn {
	max-width: 10px;
	max-height: 10px;
}